@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

h1, h2, h3, .BitCook {
    font-family: serif;
}

h1, h2 {
    color: #7E4333;
}

p, li, td {
    font-family: "DM sans", sans-serif;
    font-size: 16px;
}

.BitCook {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

body {
    background-color: #F3E5D8;
    padding: 20px;
    padding-bottom: 0;
}

a {
    text-decoration: none;
}

#Header-Content {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #255538;
    height: 58px;
    padding: 12px 20px;
    border-bottom: 6px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
}

main {
    margin: 0 auto;
    display: grid;
    max-width: 1240px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "Principle Ingredients";
    gap: 20px;
}

#Principle {
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    grid-area: Principle;
}

#Principle h1 {
    margin: 12px 0;
    font-size: 40px;
}

#Principle img {
    height: 287px;
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
}

#Principle ol {
    margin-top: 10px;
    margin-bottom: 30px;
}

#cooking-time {
    background-color: #FFF7FC;
    padding: 20px;
    padding-bottom: 30px;
}

#cooking-time ul {
    margin-top: 13px;
}

#Ingredients {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#arrangements {
    background-color: white;
    padding: 20px;
    grid-area: arrangements;
    border-radius: 6px;
    height: fit-content;
}

#arrangements ul {
    margin-top: 10px;
    margin-bottom: 20px;
}

#arrangements ul li {
    padding: 2px;
}

#arrangements table {
    margin-top: 11px;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

#arrangements table tr {
    border-bottom: 1px solid #7E4333;
}

#arrangements table tr td {
    padding: 8px;
}

.right {
    color: #7E4333;
}

#More-Recipes {
    background-color: white;
    padding: 20px;
    grid-area: More-Recipes;
    border-radius: 6px;
}

#More-Recipes h2 {
    margin-bottom: 11px;
}

#More-Recipes a img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

#More-Recipes h3, p {
    color: black;
}

#More-Recipes a{
    display: flex;
}

footer {
    background-color: #255538;
    height: 58px;
    padding: 12px 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer p {
    color: white;
    font-size: 16px;
}
